

body{
    background-color: var(--main-backgraound);
}

.container, .row{
    position: relative;
}

.span{
    color: var(--main-color);
}

.contenedor{
    width: 200px;
    overflow: hidden;
    border-radius: 6px;
    margin: 0 auto;
}

.contenedor>img{
    width: 200px;
    position: relative;
    z-index: -1;
}

.contenedor>.capa{
    position: absolute;
    z-index: 50;
    border-radius: 6px;
    top: 0;
    width: 200px;
    height: 267px;
    background: rgba(100, 255, 218, 0.25);
    transition: display 0.5 ease-out;
}

.contenedor>.capa:hover{
    display: none;
}

h2{
    color: var(--main-colortitle);
}

.pclass{
    color: var(--main-colorp)
}

h2::after{
    content: "";
    display: inline-block;
    position: relative;
    width: 50%;
    top:-5px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--main-colortitle);
}

.container{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}


*, ::before, ::after {
    box-sizing: inherit;
}

@media (max-width: 600px){
    h2::after{
        width:40%
    }

    .contenedor>.capa{
        top: 272px;
        height: 267px;
    }

    .col-8{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (max-width: 993px){
    .contenedor>.capa{
        display: none;
    }
}