container, .row, .card, input, textarea {
    padding: 0 !important;
    margin: 0;
}

.row{
    width: 100% !important;
    margin-right: 0 !important;
}

::placeholder{
    padding-left: 5px !important;
}

.h3{
    color: var(--main-colortitle);
    margin: 0;
    align-items: baseline;
}

.card1{
    cursor: auto !important;
    border: none !important;
    margin-right: 0 !important;
}

.card1:hover{
    border: none !important;
    border-color: none !important;
    border-width: none !important;
}

.btn-footer{
    display: block !important;
    width: 95%;
    background-color: rgba(10, 25, 47, 1) !important;
    color: var(--main-colortitle) !important;
    border-color: var(--main-backgraound) !important;
    border-width: 2px;
}

.btn-footer:hover{
    background-color: rgba(10, 25, 47, 0.8) !important;
}