
body html{
    width: 100% !important;
}

.ocultar-main{
    visibility:hidden !important;
    overflow: hidden !important;
}

::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-track{
    background: var(--main-backgraound);
}

::-webkit-scrollbar-thumb{
    background: var(--main-colorp);
    border: 4px solid transparent;
    border-radius: 8px;
}

*{
    padding: 0;
    margin: 0;
}

.maquina{
    font-family: 'Nanum Gothic Coding', monospace;
}

.typetext{
    font-family: 'Lato', sans-serif;
}

:root {
    --main-backgraound: rgb(10, 25, 47);
    --main-color: #64FFDA;
    --main-colortitle: #CCD6F6;
    --main-colorp: #8892B0;
}

