.navbar{
    position: sticky;
    z-index: 100;
    top: 0;
}

.navbar.active{
    background-color: var(--main-backgraound) !important;
}

.navbar-nav{
    text-align: right;
}

.btn-responsi{
    border: none !important;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(100,255,218, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.spancolor{
    color: var(--main-color) !important;
}

li,Link{
    cursor: pointer !important;
}

nav>div>div>ul>li>Link:hover {
    color: var(--main-color) !important;
  }

.btn{
    border-color: var(--main-color) !important;
    color: var(--main-color) !important;
    transition: all 0.5s;
}

.btn:hover{
    background-color: rgba(100, 255, 218, 0.5);
    border-color: var(--main-color);
}

@media (max-width:960px){
    .navbar{
        background-color: var(--main-backgraound);
        width: 100%;
    }

    .navbar-nav{
        text-align: left;
        align-items: flex-start;
    }

    .btn{
        padding-left: 5px !important;
        padding-right: 5px !important;
        margin-bottom: 7px !important;
    }
}